
<form class="mx-auto mb-5 w-full max-w-md rounded bg-white p-12 shadow-md">
    <label for="search">Search Course by Title</label>
    <input placeholder="Course Title" required name="title" id="search" type="text" class="mt-3 w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm" />
    <input class="mt-5 w-full cursor-pointer rounded bg-indigo-600 py-2 text-white" type="submit" value="Search" />
  </form>